.searching {
	cursor: progress;
	opacity: 40%;
}

:root {
	--nav-height: 100px;
}

.tableWrapper input[type="text"] {
	padding: 0px !important;
	min-width: 120px;

	margin: 5px 0px;
	height: fit-content;
	z-index: -5 !important;
}

#titles {
	position: sticky;
	top: 0px;
	th {
		min-width: 200px;
		width: 200px;
		text-align: center;
		padding: 0px !important;
		z-index: 10 !important;
	}
}

#nav {
	display: flex !important;
	flex-direction: row;
	position: sticky;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 5;
	height: var(--nav-height);
	background-color: black;
	align-items: center;

	button {
		margin-right: 5px;
	}

	#search {
		align-items: center;
		margin: 0px 10px;
		input {
			width: 200px;
			margin: 0px !important;
		}
	}

	select {
		width: 300px;
		margin: 0px 10px;
	}

	#selectPage {
		margin-left: 40px;
		display: flex;
		flex-direction: row;
	}
}

tr,
td {
	height: 20px !important;
	padding: 0px 10px;
}

.tableWrapper {
	overflow: scroll;
	height: calc(100vh - var(--nav-height));
}

.inputForCat {
	tr,
	td,
	input {
		height: 30px !important;
	}
	input {
		width: 200px;
		margin: 0px !important;
		padding: 0px !important;
	}
}

.rowIdx {
	position: sticky;
	left: 0;
	background-color: black !important;
	z-index: 1;
}

#pageCounter {
	height: min-content;
	margin-bottom: 0px;
}

#listWrapper {
	width: 100% !important;
	max-width: 100% !important;
	min-width: 100% !important;
}
