:root {
	--nav-height: 100px;
}

.tableWrapper input[type="text"] {
	padding: 0px !important;
	min-width: 120px;

	margin: 5px 0px;
	height: fit-content;
	z-index: -5 !important;
}

#search {
	height: 60px;
	align-items: center;
	margin: 0px 10px;
	input {
		width: 200px;
	}
}

.small,
.small input {
	min-width: 75px !important;
	width: 75px !important;
	text-align: center;
}

#titles {
	position: sticky;
	top: 0px;
	th {
		min-width: 200px;
		width: 200px;
		text-align: center;
		padding: 0px !important;
		z-index: 10 !important;
	}
}

#nav {
	display: flex !important;
	flex-direction: row;
	position: sticky;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 5;
	height: var(--nav-height);
	background-color: black;
	align-items: center;

	button {
		margin-right: 5px;
	}
}

tr,
td {
	height: 20px !important;
	padding: 0px 10px;
}

.tableWrapper {
	overflow: scroll;
	height: calc(100vh - var(--nav-height));
}
